<div id="all_users">
	<%= render partial: "check_online" %>
</div>
<script>
	worker();
	function worker() { 
	  $.ajax({
	    url: '/check_online',
			dataType: "script"
	  });
		window.setTimeout(function(){	worker();	}, 10000);
	}
</script>