<h1>Listing users</h1>
<% @users.each do |user| %>
	<div class="user">
		<div class="row user-status"><%= user.online? %></div>
		<div class="row btn"><%= link_to 'open chat', user %></div>
	</div>
<% end %>
