<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div class="chat">
	<div class="message">
		<div class="message-title">Name</div>
		<div class="message-body">asd</div>
	</div>
</div>
<form>
	<input type="text" class="text-field" placeholder="Write your message here..." name="text" size="40"></div>
	<input type="submit" value="Отправить" name="asd">
</form>