/*
 *= require_tree .
 *= require_self
 */
.user-status{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.online{
	background-color: #ff0;
}
.offline{
	background-color: #33d;
}
.user{
	overflow: hidden;
	width: 60%;
	padding: 5px;
	border: solid 1px #ccc;
	margin-left: 20%;
	margin-top: 20px;
}
.row{
	float: left;
}
.btn-chat{
	float: right;
}
.chat{
	margin: 15px 20%;
	border: solid 1px #ccc;
	width: 60%;
	padding: 5px;
	min-height: 70px;
}
.user-email{
	margin-left: 25px;
}
.message{
	border: solid 1px #ccc;
	height: 60px;
	padding: 5px;
	margin: 5px;
}
.text-field{
	width: calc(100% + 8px);
	line-height: 25px;
	font-size: 18px;
}
.form-chat{
	padding: 0 20%;
}
.btn-message{
	width: calc(100% + 13px);
	margin-top: 5px;
}
.sign-in-area{
	float:left;
	padding-left: 27%;
}
.sign-up-area{
  float: right;
  padding-right: 27%;
}